<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Brayden Houston" />
   <meta name="readability-verification" content="QCzSs992GxmRYRKVpPeZ6LE2tS8aYKxsSSQKV8YM"/>

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
   
   <!-- Favicon -->
   <link rel='shortcut icon' href='/images/favicon.png' type='image/png'/>

   <!-- GFonts -->
   <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:100,300,400&display=swap" rel="stylesheet">

   <!-- FontAwesome Kit -->
   <script src="https://kit.fontawesome.com/ad5bd074f5.js"></script>
</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">Brayden Houston</a>
    <a class="extra" href="/">home</a>
  </div>

  {{ content }}

  <div class="footer">
    <div class="contact">
      <p>
        Brayden Houston
        <br />
        contact@braydenhouston.dev
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/braydenhouston/" target="_"><i class="fab fa-github"></i>braydenhouston</a><br />
        <a href="http://twitter.com/brayden_houston/" target="_"><i class="fab fa-twitter"></i>@brayden_houston</a><br />
      </p>
    </div>
  </div>
</div>
</body>
</html>
